# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
env/

# Environment
.env
.env.local

# Coverage
.coverage
.coverage.*
coverage_html/
coverage.xml
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & Static
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
